header {
    display:flex;
    justify-content:center;
    align-items: center;
}

#logo{
    display: flex;
    flex:1;
    justify-content:center;
    width: 110px;
}

#menu{
    display:flex;
    gap:20px;
    margin:0px;
    padding:0px;
    justify-content:center;
}

nav{
    display: flex;
    flex:1;
    justify-content: center;
    gap: 15px
}

.item-menu{
    justify-content:center;
    display:flex;
    flex-direction:initial;
    list-style: none;
    justify-content: right;
    color: white;
    padding: 8px 15px; 
    border-radius: 5px;
}

.link-menu{
    color: white;
    background-color:darkslategrey;
    margin: 0 10px;
    padding: 7px 9px; 
    border-radius: 5px;
    text-decoration: none;
}

.f{
    background-color:rgb(120, 41, 224);
}

.l{
    background-color:aqua;
}

.m{
    background-color: grey;
}

main{
    display:flex;
    background-color: aqua;
}

#principal{
    background-color: yellowgreen;

}

figure {
    display:flex;
    flex:1;
    justify-content: end;
}

figure img{
    max-width: 280px;
}

#sec_ctd{
    background-color:grey;
}

#second{
    background-color:orange;
}

.cartaz{
    background-color:pink;
}

.cartaz img {
    max-width:200px;
}

.capa{
    background-color: blueviolet;
}