@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins&display=swap');

body {
  font-family: 'Poppins';
}


h1, h2 {
  font-family: 'Amatic SC';
}

footer {
  background-color: #333;
  color: #ddd;
}

header {
    display:flex;
    justify-content:center;
    align-items: center;
}

#logo{
    display: flex;
    flex:1;
    justify-content:center;
    width: 140px;
}

#menu{
    display:flex;
    gap:5px;
    margin:0px;
    padding:0px;
    justify-content:center;
}

nav{
    display: flex;
    flex:1;
    justify-content: center;
    gap: 5px
}

.item-menu{
    justify-content:center;
    display:flex;
    flex-direction:initial;
    list-style: none;
    justify-content: right;
    color: white;
    padding: 8px 15px; 
    border-radius: 5px;
}

.link-menu{
    color: #fff;
    background-color: #555;
    margin: 0 10px;
    padding: 6px 8px; 
    border-radius: 5px;
    text-decoration: none;
}

.f {
    background-color: #5b305a;
  }
  
  .l {
    background-color: #e49756;
  }
  
  .m {
    background-color: #e04b5a;
  }

/*main{
    display:flex;
    background-color: aqua;
}

#principal{
    display: flex;
    background-color: rgb(58, 58, 58);
    justify-content: center;
}

figure {
    display:flex;
    flex:1;
    justify-content: end;
    background-color: darksalmon;
}

figure img{
    max-width: 290px;
}

#sec_ctd{
    display: flex;
    flex:2;
    flex-direction: column;
}*/

main {
    background-color: #333;
    color: #ddd;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  #principal {
    display: flex;
    max-width: 1000px;
    align-items: center;
    gap: 50px; /* Espaçamento entre a imagem e o texto */
  }
  
  figure {
    flex: 1;
    margin: 0;
  }
  
  figure img {
    max-width: 300px; 
    align-items: center;
  }
  
  #sec_ctd {
    flex: 2;
    max-width: 400px;
    line-height: 0.8;
    margin: 0 auto;
    color: #fff;
    padding: 10px;
  }
  
  h1 {
    text-align: right;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  p {
    line-height: 1.6;
    text-align: justify;
  }

#second{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 255, 255);
    height:450px;
}

#second a{
    color: #fff;
  }

.cartaz{
    justify-content: center;
    margin:20px;
}

.cartaz img {
    max-width:190px;
}

.capa{
    justify-content: center;
}

footer{
    background-color: #333;
    color: #ddd;
    height: 50px;
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#contato{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    color:white;
}

#email{
    display: flex;
    flex:1;
    justify-content: center;
}
#email a{
    color: white;
    text-decoration: none;
}
#social{
    display:flex;
    flex:2;
    justify-content: center;
    gap: 10px;
}

#social a img{
    width: 30px;
}

#sinopse{
    width: 500px;
}

#capa{
    align-items:center;
}

#descricao{
    display:flex;
    flex:1;
    justify-content: center;
}

#acesso{
    display:flex;
    flex:2;
    justify-content: center;
    align items
    flex-direction: column;
}